{% extends 'onlineshop/base.html' %}
{% load static %}



{% block title %}
    Shopping Cart
{% endblock title %}
    


{% block content %}
    <h1>Shopping Cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit Price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href=""><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/default_pr.jpg' %}{% endif %}"></a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <form action="{% url 'cart:cart_remove' product.id %}">
                                <input type="submit" value="Remove">
                            </form>
                        </td>
                        <td class="num">{{ item.price }}$</td>
                        <td class="num">{{ item.total_price }}$</td>

                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan=4></td>
                <td class="num">{{ cart.get_total_price }}$</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'onlineshop:product_list' %}" class="buttonlight">Continue Shopping</a>
        <a href="#">Check Out</a>
    </p>
{% endblock content %}
    